desktop.ini

*.cfg
*.sh
/cache/
/resources/\[local\]/
/resources/\[douane\]/discord_perms/config.lua
/resources/\[textures\]/

/resources/\[admin\]/vMenu/*.json
/resources/\[esx\]/\[non-esx\]/es_mapper/data/mapsradar.xml

resources/[esx]/[non-esx]/3dme/log.txt
