desktop.ini

server.cfg
*.sh
/cache/
/resources/\[ignore\]/
/resources/\[textures\]/
/resources/\[esx\]/\[test\]
/resources/\[esx\]/\[purchased\]

/resources/\[admin\]/vMenu/*.json
/resources/\[esx\]/\[non-esx\]/es_mapper/data/mapsradar.xml
/resources/\[esx\]/\[non-esx\]/3dme/log.txt

.vscode/
imgui.ini

/resources/\[cfx-server-data\]/