@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

html {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.servername {
  color: #e7e7e7;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: calc(50%);
  font-size: 70px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  animation: travel 4s;
}

strong {
  font-weight: 800;
}

@keyframes travel {
  from {
    opacity: 0.01;
    transform: translateY(100px);
  }

  to {
    transform: translateY(0px);
  }
}

.enable_music {
  color: #e7e7e7;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
  position: absolute;

  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;

  font-weight: 400;

  margin: 50px auto;
  animation: music 3s;
  z-index: 9999;
}

/* to be able to select the music name */
.enable_music strong:last-child {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@keyframes music {
  from {
    opacity: 0.1;
    transform: translateY(-80px);
  }

  to {
    transform: translateY(0px);
  }
}

.undertext {
  color: #e7e7e7;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 50%;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 100;
  animation: under 6s;
}

@keyframes under {
  from {
    opacity: 0.0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* progress bar at the bottom */
.progress {
  width: 100%;
  height: 10px;
  position: absolute;
  display: block;
  bottom: -0.6vh;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  transform: translate(-50%, -50%);
  overflow: hidden;

}

.progress:after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background: #e7e7e7;
  animation: load 60s linear;
}

@-moz-keyframes load {
  0% {
    width: 0;
  }

  10% {
    width: 5%;
  }

  20% {
    width: 15%;
  }

  30% {
    width: 25%;
  }

  40% {
    width: 30%;
  }

  50% {
    width: 44%;
  }

  60% {
    width: 50%;
  }

  70% {
    width: 72%;
  }

  80% {
    width: 84%;
  }

  90% {
    width: 92%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes load {
  0% {
    width: 0;
  }

  10% {
    width: 5%;
  }

  20% {
    width: 15%;
  }

  30% {
    width: 25%;
  }

  40% {
    width: 30%;
  }

  50% {
    width: 44%;
  }

  60% {
    width: 50%;
  }

  70% {
    width: 72%;
  }

  80% {
    width: 84%;
  }

  90% {
    width: 92%;
  }

  100% {
    width: 100%;
  }
}

@-o-keyframes load {
  0% {
    width: 0;
  }

  10% {
    width: 5%;
  }

  20% {
    width: 15%;
  }

  30% {
    width: 25%;
  }

  40% {
    width: 30%;
  }

  50% {
    width: 44%;
  }

  60% {
    width: 50%;
  }

  70% {
    width: 72%;
  }

  80% {
    width: 84%;
  }

  90% {
    width: 92%;
  }

  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }

  10% {
    width: 5%;
  }

  20% {
    width: 15%;
  }

  30% {
    width: 25%;
  }

  40% {
    width: 30%;
  }

  50% {
    width: 44%;
  }

  60% {
    width: 50%;
  }

  70% {
    width: 72%;
  }

  80% {
    width: 84%;
  }

  90% {
    width: 92%;
  }

  100% {
    width: 100%;
  }
}





/* balls effect with mouse */
.ball {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  animation: implode .5s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {
    transform: scale(0)
  }
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}




body {
  background: #180727;
  padding: 0;
  margin: 0;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  position: fixed;
}

#slideshow>img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 1s;
}

#slideshow>img:first-child {
  display: block;
}