@font-face {
  font-family: SignPainter;
  src: url('../fonts/pdown.ttf');
}

@font-face {
  font-family: vo;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: glitch;
  src: url('../fonts/pdown.ttf');




}

.menu {
  font-family: vo;
  min-width: 400px;
  max-width: 380px;
  color: #fff;
  left: 40;
  top: 80;
  position: absolute;
}

.menu.align-left {
  right: 40;
  top: 80;

}

.menu.align-top-left {
  left: 40;
  top: 100;
}

.menu.align-top {
  left: 40;
  top: 80;
}

.menu.align-top-right {
  left: 40;
  top: 280;
}

.menu.align-right {
  left: 40;
  top: 80;
}

.menu.align-bottom-right {
  left: 40;
  top: 80;
}

.menu.align-bottom {
  left: 40;
  top: 80;
}

.menu.align-bottom-left {
  right: 40;
  bottom: 80;
}

.menu.align-center {
  left: 40;
  top: 80;

}


.menu .header {
  font-family: SignPainter;
  font-size: 59px;

  background-image: url("../img/header/header.png");
  text-align: center;
  height: 90px;
  line-height: 105px;
  color: white;
  font-style: oblique;
}

/* .menu .head_tatoo {
  background-image: url("../img/header/tatoo.png");
}

.men .menu .head_dmv {
  background-image: url("../img/header/autoecole.png");
}

.menu .head_garage {
  background-image: url("../img/header/garage.png");
}

.menu .head_concess {
  background-image: url("../img/header/Concessionnaire.png");
}

.menu .head_vignerons {
  background-image: url("../img/header/vignerons.png");
}

.menu .head_identity {
  background-image: url("../img/header/identite.png");
}

.menu .head_vetement {
  background-image: url("../img/header/suburban.png");
}

.menu .head_lscustom {
  background-image: url("../img/header/lscus.png");
}

.menu .head_vehicle {
  background-image: url("../img/header/vehicle.png");
}

.menu .head_Magasin {
  background-image: url("../img/header/masque.png");
}

.menu .head_skin {
  background-image: url("../img/header/skin_menu.png");
}

.menu .head_perso {
  background-image: url("../img/header/menu.png");
}

.menu .head_accesoires {
  background-image: url("../img/header/Accessoires.png");
}

.menu .head_valider {
  background-image: url("../img/header/valider.png");
}

.menu .head_Modo {
  background-image: url("../img/header/moderation.png");
}

.menu .head_Mecano {
  background-image: url("../img/header/mecano.png");
}

.menu .head_meconcernant {
  background-image: url("../img/header/Me_concernant.png");
}

.menu .head_gps {
  background-image: url("../img/header/gpsrapide.png");
}

.menu .head_Inventaire {
  background-image: url("../img/header/Inventaire.png");
}

.menu .head_mask {
  background-image: url("../img/header/masque.png");
}

.menu .head_emploi {
  background-image: url("../img/header/poleemploi.png");
}

.menu .head_emploid {
  background-image: url("../img/header/universite.png");
}

.menu .head_superete {
  background-image: url("../img/header/247.png");
}

.menu .head_job {
  background-image: url("../img/header/actions_metier.png");
}

.menu .head_patron {
  background-image: url("../img/header/gestionpatron.png");
}

.menu .head_employe {
  background-image: url("../img/header/Sans_titre-1.png");
}

.menu .head_entreprise {
  background-image: url("../img/header/Entreprise.png");
}


.menu .head_ammu {
  background-image: url("../img/header/ammunation.png");
}

.menu .head_lsmc {
  background-image: url("../img/header/lsmc.png");
}

.menu .head_anim {
  background-image: url("../img/header/animations.png");
}

.menu .head_Factures {
  background-image: url("../img/header/factures.png");
}

.menu .head_metier {
  background-image: url("../img/header/actions_metier.png");
}

.menu .head_vestiaire {
  background-image: url("../img/header/vestiaire.png");
}

.menu .head_tabac {
  background-image: url("../img/header/tabac.png");
}

.menu .head_immobilier {
  background-image: url("../img/header/immobilier.png");
}

.menu .head_bahama {
  background-image: url("../img/header/bahama.png");
}

.menu .head_nightclub {
  background-image: url("../img/header/nightclub.png");
}

.menu .head_police {
  background-image: url("../img/header/police.png");
}

.menu .head_pompiste {
  background-image: url("../img/header/pompistes.png");
}

.menu .head_gouvernement {
  background-image: url("../img/header/gouvernement.png");
}

.menu .head_unicorn {
  background-image: url("../img/header/unicorn.png");
} */

.menu .categorie {
  font-family: glitch;
  font-size: 23px;
  height: 30px;
  line-height: 35px;
  padding: 0 10px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  position: left;
  top: 0px;

}

.menu .menu-items {
  max-height: 350px;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu .menu-items .menu-item {
  display: block;
  font-size: 21px;
  height: 35px;
  line-height: 35px;
  color: white;
  text-align: left;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.menu .menu-items .menu-item.selected {
  background-color: white;

  color: black;
}