body {
    display: none;
    overflow: hidden;
    font-size: 1.2em;
    font-variant: small-caps;
    font-family: 'Arial Bold', 'Helvetica';
    -webkit-text-stroke: .01em black;
    color: white;
}

#container {
    position: absolute;
    display: inline-flex;
    width: auto;
    right: 1.5%;
    top: 15%;
    max-width: 20%;
}

.row {
    background-color: white;
    margin: 5px;
    padding: 2px;
    background-color: rgba(0, 0, 0, .15);
    width: 90px;
}

.label {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    width: 90px;
}

.value {
    display: inline-block;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}
